.container{
    background-color: red;
    height: 100px;
    padding: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

.item{
    flex:1;
    display: flex;
    align-items: center;
}

.item:nth-child(2){
    flex: 3;
}

.item:last-child{
    justify-content: flex-end;
}

.callButton{
    background-color: aliceblue;
    border-radius: 50%;
    padding: 10px;
    height: 50px;
    width: 50px;
}

.text{
    margin-left: 20px;
    color: blue;
    width: 120px;
}

.text:first-child{
    font-size: 12px;
    font-weight: 500;
}

.text:last-child{
    font-size: 20px;
    font-weight: bold;
}

.list{
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
    color: white;
}

.listItem{
    margin: 20px;
    font-weight: 500;
}

.cart{
    display: flex;
}

.counter{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    padding: 3px;
    color: rgb(219, 19, 19);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
